@model UserListViewModel

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nutzername</th>
            <th scope="col">Rolle</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
        var count = 1;
        @foreach (var user in Model.Users)
        {
            <tr>
                <th scope="row">@count</th>
                <td>@user.UserName</td>
                <td>@user.RoleNames</td>
                <td><a asp-action="Delete" asp-route-Id="@user.Id">löschen</a></td>
            </tr>
            count++;
        }
        }
    </tbody>
</table>
