@model IEnumerable<Entry>

<div class="text-center">
    <h1 class="display-4">Gästebuch Einträge</h1>
    <div>
        <a asp-action="Create" class="btn btn-primary">Neuen Eintrag erstellen</a>
    </div>
    <br />
    <div>
        @foreach (var entry in Model)
        {
            <div class="card" style="margin-bottom: 20px">
                <div class="card-body">
                    <h5 class="card-title">Von @entry.Author über den Tag am @entry.VisitDate.ToLongDateString()</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@entry.CreateDate</h6>
                    <p class="card-text">@entry.Content</p>
                </div>
            </div>
        }
    </div>
</div>